@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

$color-black: #000;
$color-white: #fff;
$color-lightgrey: #C4C4C4;
$color-lightblue: #34BEDC;
$color-green: #34DC63;
$text-font: 'Montserrat', sans-serif;
$font-size-header: 1.5rem;
